{
    {$CADDY_GLOBAL_OPTIONS}

    # FrankenPHP объединяет PHP и Caddy
    frankenphp {
        {$FRANKENPHP_CONFIG}
    }
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
    log {
        {$CADDY_SERVER_LOG_OPTIONS}
        format filter {
            request>uri query {
                replace authorization REDACTED
            }
        }
    }

    encode zstd br gzip

    # --- Mercure Hub ---
    mercure {
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        anonymous
        subscriptions
        {$MERCURE_EXTRA_DIRECTIVES}
    }

    vulcain
    {$CADDY_SERVER_EXTRA_DIRECTIVES}

    header ?Permissions-Policy "browsing-topics=()"

    # --- Mercure route ---
    handle_path /.well-known/mercure* {
        reverse_proxy php:80
    }

    # --- Symfony API ---
    handle_path /api/* {
        # убираем /api перед передачей в Symfony
        uri strip_prefix /api

        # корень Symfony
        root * /app/public

        # если файла нет, отдаём index.php
        @notFile {
            not file {path}
        }
        rewrite @notFile /index.php

        # обрабатываем PHP через FrankenPHP
        php {
            root /app/public
        }
    }



    # --- Vue Frontend (отдельный контейнер) ---
    handle {
        reverse_proxy frontend:80
    }

    # --- Статические файлы фронта ---
    file_server {
        hide *.php
    }
}
